*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    gap: 10px;
    background-image: url(../images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img{
    height: 100px;
    width: 100px;
    float: right;
    border-radius: 50%;
}
header h1{
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contenedor{
    height: 600px;  
    width: 100%;
    display: grid;
    grid-template-rows: 3fr 2fr;
    row-gap: 10px;
    

}
.subcontenedor{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100%;
    column-gap: 10px;
}

.experiencia{
    display: flex;
    flex-direction: column;
    /*
    height: 150px;
    width: 100%;
    */
}
.botones{
    display: flex;
    justify-content:space-between;
}

div h2{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 0px 0px 10px;
}
footer{
    padding-top: 5%;
    float: inline-end;
    height: 100px;
    width: 100%;
}
