@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    gap: 10px;
    background-image: url(../images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Contenedores*/
header{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor{
    height: 600px;  
    width: 100%;
    display: grid;
    grid-template-rows: 3fr 2fr;
    row-gap: 10px;
}
.subcontenedor{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100%;
    column-gap: 10px;
}
.experiencia{
    display: flex;
    flex-direction: column;
}
.botones{
    display: flex;
    justify-content:space-around;
}
footer{
    padding-top: 5%;
    float: inline-end;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Fuentes*/
p{
    font-family: 'Raleway', sans-serif;
}
h2{
    font-family: 'Gloock', serif;
}
header h1{
    float: left;
    font-family: 'Oswald', sans-serif;
}
div h2{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 0px 0px 10px;
}

/*Imagen*/
header img{
    height: 100px;
    width: 100px;
    float: right;
    border-radius: 50%;
}

/*Botones*/
.boton{
    width: 300px;
}
.btn-hab-eu{
    display: flex;
    justify-content: space-between;
}
.btnedu{
    width: 150px;
}


